body{
    background-color: #ffffff;
    color:#000000;
    font-family: Garamond;
}
h1{
    font-size: 75px;
}
#header{
    background-color: #420943;
    height: 60px;
    margin-left: -8px;
    margin-right: -8px;
    

}
#userNameSpace{
    color: #ffffff;
    background-color:#420943;
    width: 300px;
    font-size: 20px;
    position: absolute;
    left: 996px;
    top: 166px;
}
#signOutButton{
    background-color: #800F25;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 12px;
    border: 1px solid #C0ADDB;
    color: #ffffff;
    position: absolute;
    left: 1300px;
    top: 156px;
}

#signOutButton:hover{
    box-shadow:1px 0.5px 0.5px #C0ADDB;

}

center{
    margin-top: 50px;
}

#balanceArea{
    font-size: 40px;
}

#receiveSendMoneyButtonsDiv{

    margin-top: 50px;

}

#addMoneyButton{
    font-size: 20px;
    background-color: #800F25;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 12px;
    border:4px solid #C0ADDB;
}

#addMoneyButton:hover{
    box-shadow:2px 1.5px 1.5px #C0ADDB;

}

#receiveMoneyButton{
    font-size: 20px;
    background-color: #800F25;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 12px;
    border:4px solid #C0ADDB;

}

#receiveMoneyButton:hover{
    box-shadow:2px 1.5px 1.5px #C0ADDB;

}

#sendMoneyButton{
    position: absolute;
    left: 1258px;
    font-size: 20px;
    background-color: #800F25;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 12px;
    border:4px solid #C0ADDB;

}

#sendMoneyButton:hover{
    box-shadow:2px 1.5px 1.5px #C0ADDB;
    
}


